node_modules/
.env
data/browser/*
!data/browser/.gitkeep
data/captures/*
!data/captures/.gitkeep
data/notes/*
!data/notes/.gitkeep
dist/
*.exe
npm-debug.log*
work/
*.aux
*.fdb_latexmk
*.fls
*.log
*.nav
*.out
*.snm
*.synctex.gz
*.toc
*.xdv
